<% if current_user %>
  <%= button_to "#{current_user.named} (#{current_user.role} in #{current_user.language.name}) - settings", settings_path, :method => "get" %>
  <% if current_user.admin? %>
    <%= link_to "Admin section", admin_path %>
    <%= form_for current_user do |f| %>
      <%= select("user", "language_id", Language.all.collect{ |l| [l.name, l.id] }, :selected => current_user.language_id ) %>
      <%= f.submit "change" %>
    <% end %>
  <% elsif current_user.languages.size > 1 %>
    <%= form_for current_user do |f| %>
      <%= select("user", "language_id", current_user.languages.collect{ |l| [l.name, l.id] }, :selected => current_user.language_id ) %>
      <%= f.submit "change" %>
    <% end %>
  <% end %>

  <% unless @ongoing_tasks.empty? %>
    <% @ongoing_tasks.each do |o| %>
      <div class="card" style="background-color: yellow">
        <%= link_to o.id, edit_item_path(o) %>
      </div>
    <% end %>
    <hr>
  <% end %>

  <% if current_user.role == "LC" %>
    <% unless @for_revision.empty? %>
      <p>
        For revision:
      </p>
      <% @for_revision.each do |r| %>
        <div class="card" style="background-color: green">
          <%= link_to r.id, item_path(r) %>
          <%= form_for r do |rv| %>
            <%= rv.hidden_field :user_id, :value => current_user.id %>
            <%= rv.hidden_field :status, :value => 4 %>
            <%= rv.submit "Start RV" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <hr>
  <% end %>

  <% if @for_tt.empty? %>
    <p> Currently there are no items for <%= current_user.language.name == "English" ? "transcription" : "translation" %> </p>
  <% else %> 
    <p>
      <%= current_user.language.name == "English" ? "For transcription:" : "For translation:" %>
    </p>
    <% @for_tt.each do |i| %>
      <div class="card">
        <%= link_to i.id, item_path(i) %>

      <% if current_user.language_id == 1 %>
        <%= form_for i do |e| %>
          <%= e.hidden_field :user_id, :value => current_user.id %>
          <%= e.hidden_field :status, :value => 2 %>
          <%= e.submit "Start TT" %>
        <% end %>
        <% i.events.order(id: :desc).each do |ev| %>
          <p><%= ev.context_info %></p>
        <% end %>
      <% else %>
        <% if i.translation_in(current_user.language_id) %>
          <p> there is existing <%= link_to "translation", item_path(i.translation_in(current_user.language_id)) %> </p>
          <%= form_for i.translation_in(current_user.language_id) do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :status, :value => 2 %>
            <%= f.submit "Start TT" %>                    
          <% end %>
          <% i.translation_in(current_user.language_id).events.order(id: :desc).each do |ev| %>
            <p><%= ev.context_info %></p>
          <% end %>
        <% else %>
          <p> No existing translation </p>
          <%= form_with model: Item.new do |f| %>
            <%= f.hidden_field :language_id, :value => current_user.language.id %>
            <%= f.hidden_field :item_id, :value => i.id %>
            <%= f.hidden_field :status, :value => 2 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "Start TT" %>
          <% end %>
        <% end %>           
      <% end %>
      </div>
    <% end %>
  <% end %>
  <hr>
  <% if @pagy.pages > 1 %>
    <%== pagy_nav(@pagy) %>
  <% end %>
<% end %>


