<h6>
  <%= link_to "HOME", root_path %>
</h6>

<h1>Admin section</h1>
<%= link_to "ALL USERS", users_path %>
<br>
<%= link_to "Add a new user", new_user_path %>
<br>
<%= link_to "Import Existing User", import_user_path %>
<br>
<%= link_to "ALL EVENTS", events_path %>
<br>
<%= link_to "ALL COMMENTS", comments_path %>
<br>
<%= link_to "ALL RIGHTS", rights_path %>
<br>
<%= link_to "Add a new right", new_right_path %>
<br>
<%= link_to "ALL LANGUAGES", languages_path %>
<br>
<%= link_to "Add a new language", new_language_path %>
<br>
<%= link_to "ALL ITEMS", items_path %>
<br>
<%= link_to "Add a new content in English", new_item_path %>