<%= form_with(model: right) do |form| %>
  <% if right.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(right.errors.count, "error") %> prohibited this right from being saved:</h2>

      <ul>
        <% right.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= select("right", "user_id", User.all.collect {|p| [ p.named, p.id ] }, { include_blank: true }) %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= select("right", "role", options_for_select([ "TT" ,"LC" ])) %>
  </div>

  <div>
    <%= form.label :language_id, style: "display: block" %>
    <%= select("right", "language_id", Language.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
