<%= form_with(model: right) do |form| %>
  <% if right.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(right.errors.count, "error") %> prohibited this right from being saved:</h2>

      <ul>
        <% right.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_field :role %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :language_id, style: "display: block" %>
    <%= form.number_field :language_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
