<% if @item.translation? %>
  <h4>Translaion of <%= link_to "Item #{@item.item_id}", item_path(@item.item_id) %> into <%= "#{@item.language}" %></h4>
<% end %>

<%= render "form", item: @item %>

<hr>

<div>
  <%= link_to "Show this item", @item %> |
  <%= link_to "Back to items", items_path %>
</div>
