<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <div class="card">
      <p>
        <strong>TITLE:</strong>
        <%= item.title %>
      </p>
      <p>
        <strong>ID:</strong>
        <%= item.id %>
      </p>
      <p>
        <strong>Language:</strong>
        <%= item.language %>
      </p>
      <% if item.translation? %>
        <p>
          <strong>Original:</strong>
          <%= item.item_id %>
        </p>
      <% end %>
      <p>
        <strong>Status:</strong>
        <%= item.status %>
      </p>
      <%#= render item %>
      <p>
        <%= link_to "Show this item", item %>
      </p>
    </div>
  <% end %>
</div>

<hr>

<%== pagy_nav(@pagy) %>
<%= link_to "New item", new_item_path %>